<% content_for :for_head do -%>
  <%= javascript_include_tag('jquery.js') %>
  <%= javascript_include_tag('jquery.event.drag.js') %>
  <%= javascript_include_tag('jquery.mousewheel.js') %>
  <%= javascript_include_tag('jquery.canvaswrapper.js') %>
  <%= javascript_include_tag('jquery.colorhelpers.js') %>
  <%= javascript_include_tag('jquery.flot.js') %>
  <%= javascript_include_tag('jquery.flot.symbol.js') %>
  <%= javascript_include_tag('jquery.flot.saturated.js') %>
  <%= javascript_include_tag('jquery.flot.browser.js') %>
  <%= javascript_include_tag('jquery.flot.drawSeries.js') %>
  <%= javascript_include_tag('jquery.flot.uiConstants.js') %>
  <%= javascript_include_tag('jquery.flot.navigate.js') %>
  <%= javascript_include_tag('jquery.flot.touchNavigate.js') %>
  <%= javascript_include_tag('jquery.flot.hover.js') %>
  <%= javascript_include_tag('jquery.flot.touch.js') %>
  <%= javascript_include_tag('jquery.flot.selection.js') %>

	<script type="text/javascript">

    function plotmygraph() {

      var d1 = <%= @matcher.blocks1 %>;
      var d2 = <%= @matcher.blocks2 %>;
      var d3 = <%= @matcher.orig1 %>;
      var d4 = <%= @matcher.orig2 %>;

      var plot = $.plot("#placeholder", [ 
        { data: d1, label: "blocks1", points: { symbol: "square" } }, 
        { data: d2, label: "blocks2", points: { symbol: "circle" } },
        { data: d3, label: "orig1",   points: { symbol: "square", radius: 1 } },
        { data: d4, label: "orig2",   points: { symbol: "circle", radius: 1 } }
      ],
      {
        series: {
          points: {
             show: true,
             radius: <%= @match_params[:block_size].to_i / 2 %>,
             lineWidth: 2
          }
        },
      	grid: {
        	hoverable: true
        },
        xaxis: {
          // zoomRange: [0, 10000],
          gridLines: true
        },
        yaxis: {
          // zoomRange: [0, 10000],
          gridLines: true,
          autoScale: 'exact'
        },
        zoom: {
          interactive: true
        },
      });

      $("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #fdd",
        padding: "2px", "background-color": "#fee",
        opacity: 0.80
      }).appendTo("body");

      $("#placeholder").bind("plothover", function (event, pos, item) {
        if (!pos.x || !pos.y) {
          return;
        }

        // if ($("#enablePosition:checked").length > 0) {
        //   var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
        //   $("#hoverdata").text(str);
        // }

        if (item) {
          var x = item.datapoint[0].toFixed(2),
           y = item.datapoint[1].toFixed(2);
           $("#tooltip").html(item.series.label + " (" + x + " / " + y + ")").css({top: item.pageY+5, left: item.pageX+5}).fadeIn(200);
        } else {
          $("#tooltip").stop().hide();
        }
      });
    
      $("#placeholder").bind("plothovercleanup", function (event, pos, item) {
        $("#tooltip").hide();
      });
    
      $("#placeholder").bind("plotclick", function (event, pos, item) {
        if (item) {
          $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
          plot.highlight(item.series, item.datapoint);
        }
      });
    };

    // Window.onload = function() {  
    //   plotmygraph();
    // };

    // document.addEventListener("DOMContentLoaded", function() {
    //   plotmygraph();
    // });

    // $(document).ready( function () {
    //   plotmygraph()
    // });

	</script> 
<% end -%>

<%= form_with url: "/trace_matcher", method: :get do |form| %>
  <div class="container">
    <div class="item-left">
      <table class="smalltable">
        <tr>
          <td style="width:70%" class="smalltd"><%= form.label :text, "block_size: " %></td>
          <td style="width:30%" class="smalltd"><%= form.number_field :block_size, value: @match_params[:block_size] %></td>
        </tr>
        <tr>
          <td><%= form.label :text, "max diff: " %></td>
          <td><%= form.number_field :max_diff, value: @match_params[:max_diff] %></td>
        </tr>
        <tr>
          <td><%= form.label :text, "min overlap: " %></td>
          <td><%= form.number_field :min_overlap, value: @match_params[:min_overlap], in: 0..100, step: 1 %></td>
        </tr>
      </table>
    </div>
    <div class="item-center" style="width:90%">
      <table class="smalltable" style="width:100%">
        <tr>
          <% possible_sessions = Repositories::Sessions::MongoDb.new.find_with_traces %>
          <td style="width:30%"><%= form.label :text, "session 1: " %></td>
          <td style="width:70%"><%= form.collection_select(:session1, possible_sessions, :id, :selector_text, { selected: @session1&.id }) %></td>
        </tr>
          <td style="width:30%"><%= form.label :text, "session 2: " %></td>
          <td style="width:70%"><%= form.collection_select(:session2, possible_sessions, :id, :selector_text, { selected: @session2&.id }) %></td>
        <tr><td colspan=2 class="smalltd"><%= form.submit "Apply" %></td></tr>
      </table>
    </div>

    <div class="item-right">
      <table class="smalltable">
        <tr>
          <th style="width:40%">&nbsp;</td>
          <th style="width:30%">Session 1</td>
          <th style="width:30%">Session 2</td>
        </tr>
        <tr>
          <td>Distance</td>
          <td><%= @session1[:distance] %></td>
          <td><%= @session2[:distance] %></td>
        </tr>
        <tr>
          <td>Trace count</td>
          <td><%= @matcher.trace1.count %></td>
          <td><%= @matcher.trace2.count %></td>
        </tr>
        <tr>
          <td>Blocks count</td>
          <td><%= @matcher.blocks1.count %></td>
          <td><%= @matcher.blocks2.count %></td>
        </tr>
        <tr>
          <td>Match?</td>
          <td colspan=2><%= @matcher.matching? %></td>
        </tr>
        <tr>
          <td>Match rate:</td>
          <td colpsan=2><%= @matcher.match_in_percent %> %</td>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<div style="display:flex; align-items:left">
  <div id="placeholder" style="width:80%;height:700px"></div>
</div>

<script type="text/javascript">
    plotmygraph();
</script>
