<% content_for :for_head do -%>
  <%= javascript_include_tag('jquery.js') %>
  <%= javascript_include_tag('jquery.flot.js') %>

	<script type="text/javascript">

    function plotmygraph() {

      var d1 = <%= @matcher.blocks1 %>;
      var d2 = <%= @matcher.blocks2 %>;

      $.plot("#placeholder", [ d1, d2 ]);
    };

    // Window.onload = function() {  
    //   plotmygraph();
    // };

    document.addEventListener("DOMContentLoaded", function() {
      plotmygraph();
    });

    // $(document).ready( function () {
    //   plotmygraph()
    // });

	</script> 
<% end -%>

<%= form_with url: "/trace_matcher", method: :get do |form| %>
  <div class="container">
    <div class="item-left">
      <table class="smalltable">
        <tr>
          <td style="width:70%" class="smalltd"><%= form.label :text, "block_size: " %></td>
          <td style="width:30%" class="smalltd"><%= form.number_field :block_size, value: @match_params[:block_size] %></td>
        </tr>
        <tr>
          <td><%= form.label :text, "max diff: " %></td>
          <td><%= form.number_field :max_diff, value: @match_params[:max_diff] %></td>
        </tr>
        <tr>
          <td><%= form.label :text, "min overlap: " %></td>
          <td><%= form.number_field :min_overlap, value: @match_params[:min_overlap], in: 0.0..1.0, step: 0.01 %></td>
        </tr>
      </table>
    </div>
    <div class="item-center" style="width:90%">
      <table class="smalltable" style="width:100%">
        <tr>
          <% possible_sessions = Repositories::Sessions::MongoDb.new.find_with_traces %>
          <td style="width:30%"><%= form.label :text, "session 1: " %></td>
          <td style="width:70%"><%= form.collection_select(:session1, possible_sessions, :id, :selector_text, { selected: @session1&.id }) %></td>
        </tr>
          <td style="width:30%"><%= form.label :text, "session 2: " %></td>
          <td style="width:70%"><%= form.collection_select(:session2, possible_sessions, :id, :selector_text, { selected: @session2&.id }) %></td>
        <tr><td colspan=2 class="smalltd"><%= form.submit "Apply" %></td></tr>
      </table>
    </div>

    <div class="item-right">
      <table class="smalltable">
        <tr>
          <th style="width:40%">&nbsp;</td>
          <th style="width:30%">Session 1</td>
          <th style="width:30%">Session 2</td>
        </tr>
        <tr>
          <td>Distance</td>
          <td><%= @session1[:distance] %></td>
          <td><%= @session2[:distance] %></td>
        </tr>
        <tr>
          <td>Trace count</td>
          <td><%= @matcher.trace1.count %></td>
          <td><%= @matcher.trace2.count %></td>
        </tr>
        <tr>
          <td>Blocks count</td>
          <td><%= @matcher.blocks1.count %></td>
          <td><%= @matcher.blocks2.count %></td>
        </tr>
        <tr>
          <td>Match?</td>
          <td colspan=2><%= @matcher.matching? %></td>
        </tr>
        <tr>
          <td>Match rate:</td>
          <td colpsan=2><%= @matcher.match_in_percent %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<div style="display:flex; align-items:left">
  <div id="placeholder" style="width:80%;height:700px"></div>
</div>

<script type="text/javascript">
    plotmygraph();
</script>
