<div class="filters">
  <%= render "shared/filters" %>

  <div>
    <%= form_with url: "/sport_sessions", method: :get do |form| %>
      <%= form.hidden_field :year, value: @filter_params[:year] %>
      <%= form.hidden_field :month, value: @filter_params[:month] %>
      <%= form.hidden_field :sport_type_id, value: @filter_params[:sport_type_id] %>
      <%= form.label :text, "Search for notes: " %>
      <%= form.text_field :text, value: @session_params[:text] %>
      <%= form.submit "Search" %>
    <% end %>
  </div>

</div>

<div class="center" style="width:90%">
<table class="normaltable" style="width:100%">
  <tr>
    <th style="width:20%">id</th>
    <th style="width:15%">started</th>
    <th style="width:10%">sport</th>
    <th style="width:10%">distance [km]</th>
    <th style="width:10%">duration [hh:mm]</th>
    <th style="width:10%">elevation gain/loss</th>
    <th style="width:35%">notes</th>
  </tr>
<% @sport_sessions.each do |sport_session| %>
  <tr>
    <td><%= sport_session.id %></td>
    <td><%= sport_session.start_time %></td>
    <td><%= sport_session.sport %></td>
    <td><%= sport_session.distance_in_km %></td>
    <td><%= sport_session.duration_as_str %></td>
    <td><%= sport_session.elevation %></td>
    <td><%= sport_session.notes %></td>
  </tr>
<% end %>
</table>
</div>
