
<div>
  <button type="button" class="button-collapsible">Filters</button>
  <div class="filter content">
    <%= render "shared/filters" %>

    <div>
      <%= form_with url: "/sport_sessions", method: :get do |form| %>
        <%= form.hidden_field :year, value: @filter_params[:year] %>
        <%= form.hidden_field :month, value: @filter_params[:month] %>
        <%= form.hidden_field :sport_type, value: @filter_params[:sport_type] %>
        <%= form.label :text, "Search for notes: " %>
        <%= form.text_field :text, value: @session_params[:text] %>
        <%= form.submit "Search" %>
      <% end %>
    </div>
  </div>

</div>

<div class="center" style="width:90%">
<table class="normaltable" style="width:100%">
  <tr>
    <th style="width:20%">id</th>
    <th style="width:15%">started</th>
    <th style="width:10%">sport</th>
    <th style="width:10%">distance [km]</th>
    <th style="width:10%">duration [hh:mm]</th>
    <th style="width:10%">elevation gain/loss</th>
    <th style="width:5%" >avg pace</th>
    <th style="width:25%">notes</th>
    <th style="width:5%">&nbsp;</th>
  </tr>
<% @sport_sessions.each do |sport_session| %>
  <tr>
    <% if sport_session.trace.blank? %>
      <td><%= sport_session.id %></td>
    <% else %>
      <td><%= link_to(sport_session.id, sport_session_path(id: sport_session.id)) %></td>
    <% end %>
    <td><%= sport_session.local_start_time %></td>
    <td><%= sport_session.sport_type %></td>
    <td><%= sport_session.distance_in_km %></td>
    <td><%= sport_session.duration_as_str %></td>
    <td><%= sport_session.elevation %></td>
    <td><%= sport_session.avg_pace %></td>
    <td><%= sport_session.notes %></td>
    <td><%= link_to("delete", sport_session_path(id: sport_session.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button-red") %></td>
  </tr>
<% end %>
</table>
</div>
