<% content_for :for_head do -%>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>


<script>
  function drawTrack(track) {
    let coordinates = <%= @sport_session.trace.map { |p| [p["lat"].to_f.round(5), p["lng"].to_f.round(5)] } %>;

    var polyline = L.polyline(coordinates, { weight: 4, color: 'darkred' }).addTo(mymap);

    // zoom the map to the polyline
    mymap.fitBounds(polyline.getBounds());
  }
</script>      

<% end -%>

<div class="container" style="grid-template-columns: 30% 5% 65%;">
  <div class="item-left">
    <table style="width:100%">
      <tr><th>id</th>        <td><%= @sport_session.id %></td></tr>
      <tr><th>sport</th>     <td><%= @sport_session.sport_type %></td></tr>
      <tr><th>start time</th><td><%= @sport_session.local_start_time %></td></tr>
      <tr><th>distance</th>  <td><%= @sport_session.distance_in_km %> [km] </td></tr>
      <tr><th>duration</th>  <td><%= @sport_session.duration_as_str %></td></tr>
      <tr><th>pause</th>     <td><%= @sport_session.pause_as_str %></td></tr>
      <tr><th>elevation</th> <td><%= @sport_session.elevation %> [m]</td></tr>
      <tr><th>avg pace</th>  <td><%= @sport_session.avg_pace  %></td></tr>
      <tr><th>avg hr</th>    <td><%= @sport_session.heart_rate_avg || "-" %> [bpm]</td></tr>
      <tr><th>max hr</th>    <td><%= @sport_session.heart_rate_max || "-" %> [bpm]</td></tr>
      <tr><th>notes</th>     <td><%= @sport_session.notes %></td></tr>
      <tr><th>course</th>    <td>
      <% if @course %>
        <%= link_to(@course.name, course_path(id: @course.id)) %>
      <% else %>
        <div>
          <%= turbo_frame_tag "matching_courses_turbo", src: "#{@sport_session.id}/matching_courses" do %>
            <div>
              <%= image_tag  "loading_icon.gif", height: 50 %>
            </div>
          <% end %>
        </div>
      <% end %>
      </td></tr>
    </table>
  </div>
  <div id="map" class="item-right">
  </div>
  <div class="item-left" style="grid-row: 2 / span 1;">
    <table style="width:100%">
      <tr><th>km</th><th>pace</th>
      <% @split_table.each do |km, pace| %>
        <tr><td><%= km %></td><td><%= pace %></td>
      <% end %>
    </table>
  </div>
  <div class="item-right" style="grid-row: 2 / span 1;">
    <%= area_chart @elevation_chart, points: false, xtitle: 'elevation', min: @elevation_chart.values.min - 10, max: @elevation_chart.values.max + 10 %>
  </div>

  <% if @heart_rate_chart %>
  <div class="item-right" style="grid-row: 3 / span 1;">
    <%= area_chart @heart_rate_chart, points: false, xtitle: 'heart_rate', min: @heart_rate_chart.values.min - 10, max: @heart_rate_chart.values.max + 10, colors: ["red"] %>
  </div>
  <% end %>
  
</div>

<script type="text/javascript">
  var mymap = L.map('map');

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 50
        }).addTo(mymap);

  L.marker([<%= @sport_session.trace.first["lat"].to_f.round(5) %>, <%= @sport_session.trace.first["lng"].to_f.round(5) %>])
    .addTo(mymap)
    .bindPopup('Start')
    .openPopup();

  drawTrack();
</script>

