<% content_for :for_head do -%>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin="">
</script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />

<script>
  function drawTrack(track) {
    let coordinates = <%= @sport_session.trace.map { |p| [p["lat"].to_f.round(5), p["lng"].to_f.round(5)] } %>;

    var polyline = L.polyline(coordinates, { weight: 4, color: 'darkred' }).addTo(mymap);

    // zoom the map to the polyline
    mymap.fitBounds(polyline.getBounds());
  }
</script>      

<% end -%>

<div class="container_three_cols">
  <div class="item-left">
    <table>
      <tr><th>id</th>        <td><%= @sport_session.id %></td></tr>
      <tr><th>sport</th>     <td><%= @sport_session.sport %></td></tr>
      <tr><th>start time</th><td><%= @sport_session.local_start_time %></td></tr>
      <tr><th>distance</th>  <td><%= @sport_session.distance_in_km %></td></tr>
      <tr><th>duration</th>  <td><%= @sport_session.duration_as_str %></td></tr>
      <tr><th>elevation</th> <td><%= @sport_session.elevation %></td></tr>
      <tr><th>avg pace</th>  <td><%= @sport_session.avg_pace  %></td></tr>
    </table>
  </div>
  <div class="item-center">
    <table>
      <tr><th>km</th><th>pace</th>
      <% @split_table.each do |km, pace| %>
        <tr><td><%= km %></td><td><%= pace %></td>
      <% end %>
    </table>
  </div>
  <div id="map" class="item-right" style="width:600px;height:600px">
  </div>
</div>

<script type="text/javascript">
  let mymap = L.map('map');

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 50
        }).addTo(mymap);

    drawTrack();
</script>

