<div class="flexbox">

<div>
<% @possible_years.each do |year| 
    color = "#ABABAB"
    params = @chart_params.dup
    selected_years = params[:year]&.split(",") || []
    params[:year] = if selected_years.include?(year.to_s)
      color = "#4CAF50"
      selected_years - [year.to_s]
    else
      color = "#bbbbbb"
      selected_years + [year.to_s]
    end.flatten.join(',')
%>
<%= link_to(year, charts_index_path(params), { class: "button", style: "background-color:#{color}" }) %>
<% end %>
</div>

<div>
<% @possible_sport_types.each do |sport| 
    color = "#ABABAB"
    params = @chart_params.dup
    selected_sports = params[:sport_type_id]&.split(",") || []
    params[:sport_type_id] = if selected_sports.include?(sport.to_s)
      color = "#00AF50"
      selected_sports - [sport.to_s]
    else
      color = "#bbbbbb"
      selected_sports + [sport.to_s]
    end.flatten.join(',')
%>
<%= link_to(sport, charts_index_path(params), { class: "button", style: "background-color:#{color}" }) %>
<% end %>
</div>
</div>

<div class="flexbox">
<div class="chart">
<%= bar_chart charts_distance_per_year_path(@chart_params), xtitle: "distance [km]", ytitle: @chart_params[:group_by], thousands: ".",  colors: ["#99f", "#0bb", "#0ff"] %>
</div>
<div class="chart">
<%= bar_chart charts_duration_per_year_path(@chart_params), xtitle: "duration [s]", ytitle: @chart_params[:group_by] %>
</div>
<div class="chart">
<%= bar_chart charts_elevation_per_year_path(@chart_params), xtitle: "elevation [m]", ytitle: @chart_params[:group_by]  %>
</div>
</div>
<div class="flexbox">
<div class="chart">
<%= column_chart charts_cnt_per_year_path(@chart_params), xtitle: "count", ytitle: @chart_params[:group_by] %>
</div>

<div class="chart">
<%= pie_chart charts_distance_buckets_path(@chart_params), name: "Buckets" %>
</div>
</div>
<div class="flexbox">

<div class="chart">
  <%= line_chart charts_cnt_per_weekday_path(@chart_params) %>
</div>
<div class="chart">
  <%= area_chart charts_hour_per_day_path(@chart_params) %>
</div>


</div>
