<div class="filters">
  <%= render "shared/filters" %>
</div>

<div class="flexbox">
  <div class="chart">
    <%= bar_chart charts_distance_per_year_path(@chart_params), xtitle: "distance [km]", ytitle: @chart_params[:group_by], thousands: "." %>
  </div>

  <div class="chart">
    <%= bar_chart charts_duration_per_year_path(@chart_params), xtitle: "duration [s]", ytitle: @chart_params[:group_by] %>
  </div>

  <div class="chart">
    <%= bar_chart charts_elevation_per_year_path(@chart_params), xtitle: "elevation [m]", ytitle: @chart_params[:group_by]  %>
  </div>
</div>

<div class="flexbox">
  <div class="chart">
    <%= column_chart charts_cnt_per_year_path(@chart_params), xtitle: @chart_params[:group_by], ytitle: "count" %>
  </div>

  <div class="chart">
    <%= pie_chart charts_distance_buckets_path(@chart_params), name: "Buckets" %>
  </div>
</div>

<div class="flexbox">
  <div class="chart">
    <%= line_chart charts_cnt_per_weekday_path(@chart_params), xtitle: "Count per weekday" %>
  </div>

  <div class="chart">
    <%= area_chart charts_hour_per_day_path(@chart_params), xtitle: "Count per start hour" %>
  </div>
  
  <div class="chart">
    <%= line_chart charts_cnt_per_week_of_year_path(@chart_params), xtitle: "Count per week of year" %>
  </div>
</div>
