<div>
<%= bar_chart charts_distance_per_year_path, xtitle: "distance [km]", ytitle: "year", thousands: "." %>
</div>

<div class="flexbox">
<div class="chart">
<%= bar_chart charts_duration_per_year_path, xtitle: "duration [s]", ytitle: "year" %>
</div>
<div class="chart">
<%= bar_chart charts_elevation_per_year_path, xtitle: "elevation [m]", ytitle: "year" %>
</div>
</div>
<div class="flexbox">
<div class="chart">
<%= column_chart charts_cnt_per_year_path, xtitle: "count", ytitle: "year" %>
</div>

<div class="chart">
<%= pie_chart charts_distance_buckets_path, name: "Buckets" %>
</div>
</div>
<div class="flexbox">

<div class="chart">
  <%= line_chart charts_cnt_per_weekday_path %>
</div>
<div class="chart">
  <%= area_chart charts_hour_per_day_path %>
</div>


</div>
