<div style="float:left">
  <%= link_to("new", new_course_path, { class: "button-green", style: "margin:10px" }) %>
</div>
<div class="center" style="width:90%">
  <table class="normaltable" style="width:100%">
    <tr>
      <th style="width:20%">id</th>
      <th style="width:50%">name</th>
      <th style="width:20%">distance</th>
      <th style="width:10%">session#</th>
    </tr>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to(course.id, course_path(id: course.id)) %></td>
        <td><%= course.name %></td>
        <td><%= course.distance %></td>
        <td><%= course.session_ids&.count %></td>
      </tr>
    <% end %>
  </table>
</div>
