Create a new course out of a existing session

<div class="textbox" style="width:50%;margin:left">
<%= form_with url: "/courses/create_from_session", method: :post do |form| %>
  <div class="container">
    <div class="item-left">
      <table class="smalltable">
        <tr>
          <td style="width:70%" class="smalltd"><%= form.label :text, "name:" %></td>
          <td style="width:30%" class="smalltd"><%= form.text_field :name %></td>
        </tr>
        <tr>
          <% possible_sessions = Repositories::Sessions::MongoDb.new.find_with_traces %>
          <td style="width:30%"><%= form.label :text, "session: " %></td>
          <td style="width:70%"><%= form.collection_select(:session_id, possible_sessions, :id, :selector_text) %></td>
        </tr>
        <tr><td colspan=2 class="smalltd"><%= form.submit "Apply" %></td></tr>
      </table>
    </div>
  </div>
<% end %>
</div>
