<% content_for :for_head do %>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

<script>
  function drawTrack(track) {
    let coordinates = <%= @trace.map { |p| [p["lat"].to_f.round(5), p["lng"].to_f.round(5)] } %>;

    var polyline = L.polyline(coordinates, { weight: 4, color: 'darkred' }).addTo(mymap);

    // zoom the map to the polyline
    mymap.fitBounds(polyline.getBounds());
  }
</script>      
<% end %>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("sportSessionTable");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
<div class="center" style="width:90%">

  <div style="float:right">
    <%= link_to("delete", 
          course_path(id: @course.id), 
          { data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "button-red" }) %>
  </div>

  <div class="flexbox">
    <div class="chart">
      <table class="normaltable" style="width:100%">
        <tr>
          <td style="width:35%"><b>id</b></td>       <td><%= @course.id %></td>
        </tr>
        <tr>
          <td><b>name</b></td>     <td><%= @course.name %></td>
        </tr>
        <tr>
          <td><b>distance</b></td> <td><%= @course.distance %></td>
        </tr>
        <tr>
          <td><b>session#</b></td> <td><%= @course.session_ids&.count %></td>
        </tr>

        <tr>
          <td><b>overall distance</b></td> <td><%= @course_stats[:overall_distance] %></td>
        </tr>
        <tr>
          <td><b>overall duration</b></td> <td><%= @course_stats[:overall_duration] %></td>
        </tr>
        <tr>
          <td><b>overall elevation gain</b></td> <td><%= @course_stats[:overall_elevation_gain] %></td>
        </tr>
        <tr>
          <td><b>average pace</b></td> <td><%= @course_stats[:average_pace] %></td>
        </tr>
      </table>
    </div>

    <div id="map" style="height:400px">
    </div>
    
    <div class="chart">
      <%= line_chart @assigned_sessions_durations %>
    </div>

  </div>

  <div>
    <%= turbo_frame_tag "matching_sessions_turbo", src: "#{@course.id}/matching_sessions" do %>
      <div>
        Matching Sessions:<p>
        <%= image_tag  "loading_icon.gif", height: 50 %>
      </div>
    <% end %>

  </div>

  <div>
    Assigned Sessions: <p/>
  <% if @assigned_sessions.count > 0 %>
    <table class="normaltable" style="width:100%" id="sportSessionTable">
      <tr>
        <th style="width:3%">&nbsp;</th>
        <th style="width:17%">id</th>
        <th style="width:15%" onclick="sortTable(1)">started</th>
        <th style="width:10%">sport</th>
        <th style="width:10%" onclick="sortTable(3)">distance [km]</th>
        <th style="width:10%" onclick="sortTable(4)">duration [hh:mm]</th>
        <th style="width:10%">elevation gain/loss</th>
        <th style="width:30%">notes</th>
        <th style=width:"5%">&nbsp;</th>
      </tr>
    <% @assigned_sessions.each do |session| %>
      <tr <% if session.id == @fastest_session_id %>
          style="background:lightgreen"
          <% elsif session.id == @slowest_session_id %>
          style="background:#ffcccb"
          <% end %>
        >
        <td>
          <% if session == @fastest_session %>
            <%= image_tag "fast-rabbit-icon.png", height: 25 %> 
          <% elsif session == @slowest_session %>
            <%= image_tag "slow-snail-icon.png", height: 25 %> 
          <% end %>
        </td>
        <td><%= link_to(session.id, sport_session_path(id: session.id)) %></td>
        <td><%= session.start_time %></td>
        <td><%= session.sport_type %></td>
        <td><%= session.distance_in_km %></td>
        <td><%= session.duration_as_str %></td>
        <td><%= session.elevation %></td>
        <td><%= session.notes %></td>
        <td><%= link_to("remove", 
            course_session_path(course_id: @course.id, id: session.id), 
            data: { turbo_confirm: 'Are you sure?',
            turbo_method: :delete }, class: "button-red") %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  </div>

</div>

<script type="text/javascript">
  var mymap = L.map('map');

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 50
        }).addTo(mymap);

  L.marker([<%= @trace.first["lat"].to_f.round(5) %>, <%= @trace.first["lng"].to_f.round(5) %>])
    .addTo(mymap)
    .bindPopup('Start')
    .openPopup();

  drawTrack();
</script>
