<div class="center" style="width:90%">

  <div style="float:right">
    <%= link_to("delete", 
          course_path(id: @course.id), 
          { data: { turbo_method: :delete }, class: "button-red" }) %>
  </div>

  <table class="normaltable" style="width:100%">
    <tr>
      <td style="width:20%">id</td>       <td><%= @course.id %></td>
    </tr>
    <tr>
      <td style="width:50%">name</td>     <td><%= @course.name %></td>
    </tr>
    <tr>
      <td style="width:20%">distance</td> <td><%= @course.distance %></td>
    </tr>
    <tr>
      <td style="width:10%">session#</td> <td><%= @course.session_ids&.count %></td>
    </tr>
  </table>

  <p>
  <div>
    Assigned Sessions: <p/>
  <% if @assigned_sessions.count > 0 %>
    <table class="normaltable" style="width:100%">
      <tr>
        <th style="width:20%">id</th>
        <th style="width:15%">started</th>
        <th style="width:10%">sport</th>
        <th style="width:10%">distance [km]</th>
        <th style="width:10%">duration [hh:mm]</th>
        <th style="width:10%">elevation gain/loss</th>
        <th style="width:30%">notes</th>
        <th style=width:"5%">&nbsp;</th>
      </tr>
    <% @assigned_sessions.each do |session| %>
      <tr>
        <td><%= session.id %></td>
        <td><%= session.start_time %></td>
        <td><%= session.sport_type %></td>
        <td><%= session.distance %></td>
        <td><%= session.duration %></td>
        <td><%= session.elevation_gain %> / <%= session.elevation_loss %></td>
        <td><%= session.notes %></td>
        <td><%= link_to("remove", 
            course_session_path(course_id: @course.id, id: session.id), 
            { data: { confirm: 'Are you sure?',
            turbo_method: :delete }, class: "button-red" }) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  </div>
    
  <div>
    Matching Sessions: <p/>
  <% if @matching_sessions.count > 0 %>
    <table class="normaltable" style="width:100%">
      <tr>
        <th style="width:20%">id</th>
        <th style="width:15%">started</th>
        <th style="width:10%">sport</th>
        <th style="width:10%">distance [km]</th>
        <th style="width:10%">duration [hh:mm]</th>
        <th style="width:10%">elevation gain/loss</th>
        <th style="width:25%">notes</th>
        <th style="width:5%">match rate</th>
        <th style="width:5%">&nbsp;</th>
      </tr>
      <% @matching_sessions.each do |hash|
         session = hash[:session]
      %>
        <tr>
          <td><%= session.id %></td>
          <td><%= session.start_time %></td>
          <td><%= session.sport_type %></td>
          <td><%= session.distance %></td>
          <td><%= session.duration %></td>
          <td><%= session.elevation_gain %> / <%= session.elevation_loss %></td>
          <td><%= session.notes %></td>
          <td><%= hash[:match_rate] %></td>
          <td><%= link_to("add", 
              course_session_index_path(course_id: @course.id, id: session.id), 
              { data: { turbo_method: :post }, class: "button-green" }) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  </div>
</div>
