<!DOCTYPE html>
<html>
  <head>
    <title>Mystats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>
  </head>

  <body>

<% 
  selected_color = "#FF1200"
  deselected_color = "#4CAF50"

  colors = Hash.new(deselected_color)  
  colors[params[:controller]] = selected_color
%>


    <div class="flexbox" style="width:35%">
    <%= image_tag "maf_logo.png", height: 50 %> 
    <%= link_to("Charts", charts_path, { class: "button", style: "background-color:#{colors["charts"]}" }) %>
    <%= link_to("Sessions", sessions_path, { class: "button", style: "background-color:#{colors["sessions"]}" }) %>
    <%= link_to("Import", imports_path, { class: "button",  style: "background-color:#{colors["imports"]}"}) %>
    <%= link_to("Cities", cities_path, { class: "button",  style: "background-color:#{colors["cities"]}"}) %>
    <%= link_to("Courses", courses_path, { class: "button",  style: "background-color:#{colors["courses"]}"}) %>
    <%= link_to("TraceMatcher", trace_matcher_path, { class: "button",  style: "background-color:#{colors["trace_matcher"]}"}) %>
    </div>
    <p>
    <%= yield %>
  </body>
</html>
