<!DOCTYPE html>
<html>
  <head>
    <title>Mystats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag :application %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>

    <script>
      function initCollapsibleButtons() {
        var coll = document.getElementsByClassName("button-collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
      }
    </script>
  </head>

  <body class="body">
 
    <% 
      selected_color   = "#81d99a"
      deselected_color = "#bbbbbb"

      colors = Hash.new(deselected_color)  
      colors[params[:controller]] = selected_color
    %>

    <div class="flexbox" style="width:90%", align="center">
      <div class="flexbox" style="width:75%">
        <%= image_tag "maf_logo.png", height: 50 %> 
        <%= link_to("Charts", charts_path, { class: "button-base", style: "background-color:#{colors["charts"]}" }) %>
        <%= link_to("Records", records_path, { class: "button-base", style: "background-color:#{colors["records"]}" }) %>
        <%= link_to("SportSessions", sport_sessions_path, { class: "button-base", style: "background-color:#{colors["sport_sessions"]}" }) %>
        <%= link_to("Import", imports_path, { class: "button-base",  style: "background-color:#{colors["imports"]}"}) %>
        <%= link_to("Cities", cities_path, { class: "button-base",  style: "background-color:#{colors["cities"]}"}) %>
        <%= link_to("Courses", courses_path, { class: "button-base",  style: "background-color:#{colors["courses"]}"}) %>
        <%= link_to("TraceMatcher", trace_matcher_path, { class: "button-base",  style: "background-color:#{colors["trace_matcher"]}"}) %>
      </div>

      <div style="float:right; width:90%">
        <% flash.each do |flash_type, message| %>
          <div class="flash flash-<%= flash_type %>">
             <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <p>
    <%= yield %>

    <script>
      initCollapsibleButtons()
    </script>
  </body>
</html>
